In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [28]:
data = pd.read_csv(r'E:\vscode\datasciences\weather_iot\Farm_Weather_Data.csv')
data.head(4)

                  Date  MaxT  MinT  WindSpeed  Humidity   Precipitation
0  2006-01-08 00:00:00  29.5  21.8        1.6       70.2            0.0
1  2006-01-09 00:00:00  30.1  21.0        1.6       67.4            0.0
2  2006-01-10 00:00:00  29.9  21.1        1.7       65.2            0.0
3  2006-01-11 00:00:00  29.8  20.8        1.5       69.0            0.0

In [29]:
data['Temperature'] = data.iloc[:,[1,2]].mean(axis=1)
data.head(5)

,Date,MaxT,MinT,WindSpeed,Humidity,Precipitation,Temperature
0,2006-01-08 00:00:00,29.5,21.8,1.6,70.2,0.0,25.65
1,2006-01-09 00:00:00,30.1,21.0,1.6,67.4,0.0,25.55
2,2006-01-10 00:00:00,29.9,21.1,1.7,65.2,0.0,25.50
3,2006-01-11 00:00:00,29.8,20.8,1.5,69.0,0.0,25.30
4,2006-01-12 00:00:00,29.6,20.5,2.1,69.5,0.0,25.05

# Why Choose MinT over Temperature and MaxT
Using the correlation function, I found out that MinT has the highest co-relation to precipitation
MinT = 0.332349
MaxT =  0.154
Temperature = -0.00135

In [30]:
corr = data['Precipitation'].corr(data['Humidity '])
corr

0.30794666322500736

In [31]:
data.drop(['MaxT','WindSpeed','Temperature','Date'],axis=1,inplace=True)

In [39]:
data=data.sample(frac=1,ignore_index=True)

In [85]:
data

      MinT  Humidity   Precipitation
0     28.7       49.9            0.0
1     23.4       50.3            0.0
2     20.0       58.5            0.0
3     24.9       77.1            4.8
4     27.7       61.4            0.0
...    ...        ...            ...
6231  27.4       62.9            2.9
6232  27.0       84.0            0.0
6233  28.8       56.7            4.5
6234  18.0       87.0            0.2
6235  24.5       72.5            0.0

[6236 rows x 3 columns]

# Split data

In [40]:
x= data.drop('Precipitation',axis =1)
y = data['Precipitation']

In [41]:
y

0       0.0
1       0.0
2       0.0
3       4.8
4       0.0
       ...
6231    2.9
6232    0.0
6233    4.5
6234    0.2
6235    0.0
Name: Precipitation, Length: 6236, dtype: float64

In [66]:
from sklearn.model_selection import train_test_split
np.random.seed(42)
x_train,x_test, y_train,y_test = train_test_split(x[:5000],y[:5000],
                                                train_size=0.7)
len(x_train), len(y_train)

(3500, 3500)

In [82]:
from sklearn.linear_model import LinearRegression
tree= LinearRegression()
tree.fit(x_train,y_train)

LinearRegression()

In [83]:
tree.score(x_test,y_test)

0.13786779569429009

# convert the model to C

In [ ]:
from micromlgen import port

In [84]:
c_code = port(tree)

# Write as .h file
modelfile = open('weather.h', 'w')
modelfile.write(c_code)
modelfile.close()